<!doctype html>
<html>
  <head>

    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/stylesheets" href="/stylesheets/styles.css">
    <link rel="stylesheet" type="text/stylesheets" href="/stylesheets/pygment_trac.css">

  </head>
  <body>

      <header>
        <h1>GitHub Pages for Melinda Higgins, Ph.D.</h1>
        <p>Melinda Higgins Biostatistician and Chemometrician</p>
      </header>

      <div id="banner">
        <span id="logo"></span>

        <a href="https://github.com/melindahiggins2000" class="button fork"><strong>View On GitHub</strong></a>
      </div><!-- end banner -->

      <div class="container">

        {{ content }}
			
      </div><!-- /.container -->
   
      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/michigangraham">mattgraham</a></small></p>
      </footer>    
  </body>
</html>